* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#vue-app-one {
    background: #f8f8f9;
    text-align: center;
    margin: 20px auto;

    padding: 60px 0px;
    max-width: 600px;
}

#vue-app-one * {
    box-sizing: border-box;

}

#formItem {
    margin: 20px auto;
}

label {
    margin: 20px 0 10px;
    display: block;
}