<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>This is Django First App</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>hello django</h1>
    <p>DateNow:{{message}}</p>
    <div id="vue-app-one">
        <form>
            <div id="formItem">
                <label>标题</label>
                <input v-model="blog.title" placeholder="请输入标题">
            </div>
            <div id="formItem">
                <label>作者</label>
                <input v-model="blog.author" placeholder="请输入作者">
            </div>
            <div id="formItem">
                <label>正文</label>
                <textarea v-model="blog.context" rows="4" placeholder="Enter something..."></textarea>
            </div>
            {% comment %} <div id="formItem">
                <label>类型</label>
                <input v-model="blog.type"  placeholder="Enter something...">
            </div> {% endcomment %}
            <select v-model="blog.type">
                <option value="Article">文章</option>
                <option value="Essay">日志</option>
                <option value="Log">随笔</option>
            </select> 
            <p v-html="testvuejs"></p>
            <button @click.prevent="addData">添加</button>
            <button @click.prevent="getData">查询</button>
        </form>
    </div>


    <script src="../static/app.js"> </script>
</body>

</html>