<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <title>myblogs</title>
  <style>
    body{margin:0;padding:0;overflow:hidden}
    .loginItem {
      position: relative;
      height: 100vh;
    }
    .item {
      /* text-align: center; */
      padding: 250px 0px;
      /* height: 250px; */
    }
  </style>
</head>

<body>
  <div class="loginItem">
    <div class="item">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 ">
          <form role="form" novalidate="novalidate">
            <div class="form-group">
                <p>DateNow:{{message}}</p>
            </div>
            <div class="form-group">
              <label>用户名</label>
              <input type="text" class="form-control" id="username" placeholder="请输入用户名">
            </div>
            <div class="form-group">
              <label>密码</label>
              <input type="password" class="form-control" id="pwd" placeholder="密码">
            </div>
            <button id="btn" type="submit" class="btn btn-default">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  $("#btn").click(function (e) {
    var username = $("#username").val();
    var pwd =  $("#pwd").val();
    
    $.ajax({
      type: "POST",
      url: "/polls/test",
      data: {
        username: username,
        password: pwd
      },
      dataType: "json",
      success: function (response) {
        if(response.message==1){
            
            window.location.href="./hello";
        }
      }
    })
    return false;
  })
</script>

</html>